snippet con "contract" b
contract ${1:Name} {
	${2}
}
$0
endsnippet

snippet contract "contract" bA
contract ${1:Name} {
	${2}
}
$0
endsnippet

snippet log "console.log" i
console.log('$1')
$0
endsnippet

snippet console "console.log" A
console.log('$1')
$0
endsnippet
